<%= form.fields_for(:nav_item, @nav_item) do |f| %>
  <%= render :partial => 'general/errors', :locals => { :model => @nav_item } %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :parent %>
    <%= f.select :parent_id, nav_items_options(@nav_item) %>
  </div>
  <div class="field">
    <%= f.label :priority %>
    <%= f.text_field :priority %>
  </div>
<% end %>
