<%= form.fields_for(:nav_item, @nav_item) do |f| %>
  <% if @nav_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nav_item.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @nav_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </div>
<% end %>
