<%= form_for(@nav_item) do |f| %>
<%= render :partial => 'fields',
           :locals => {:form => f} %>
  <div class="field required">
    <%= f.label :explicit_path %>
    <%= f.text_field :explicit_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
