<h1><%= t 'users.edit' %></h1>
<%= form_for(@user) do |f| %>
  <%= render :partial => 'general/errors', :locals => { :model => @user } %>
  <div class="field required">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <div class="field required">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field checkbox">
    <%= f.check_box :is_admin %>
    <%= f.label :is_admin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
