<h1><%= t 'users.list' %></h1>

<table>
  <tbody>
<% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= link_to t('actions.show'), user %></td>
      <td><%= link_to t('actions.edit'), edit_user_path(user) %></td>
      <td><%= link_to t('actions.destroy'), user, confirm: t('users.confirm_destroy'), method: :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
