<h1><%= t 'users.user' %>: <%= @user.email %></h1>
<div class="actions">
  <%= link_to t('actions.edit'), edit_user_path(@user) %> |
  <%= link_to t('actions.destroy'), @user, confirm: t('users.confirm_destroy'), method: :delete %>
</div>
<div><b><%= t 'activerecord.attributes.user.nickname' %>: </b><%= @user.nickname %></div>
<div><b><%= t 'activerecord.attributes.user.email' %>: </b><%= @user.email %></div>
<div><b><%= t 'activerecord.attributes.user.is_admin' %>: </b><%= @user.is_admin ? t('bool.yes') : t('bool.no') %></div>
<div><b><%= t 'activerecord.attributes.user.created_at' %>: </b><%= @user.created_at %></div>