<h2><%= t 'devise.ui.change_pw' %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field"><%= f.label :password, t('devise.ui.new_pw') %><br />
  <%= f.password_field :password %></div>

  <div class="field"><%= f.label :password_confirmation, t('devise.ui.confirm_new_pw') %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="actions"><%= f.submit t('devise.ui.change_my_pw') %></div>
<% end %>

<%= render "links" %>