<h2><%= t 'devise.ui.forgot_password' %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  
  <p><%= t('devise.ui.pw_instructions') %><p>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit t("devise.ui.send") %>
  </div>
<% end %>

<%= render "links" %>