<p id="notice"><%= notice %></p>

<%= link_to t('actions.edit'), edit_song_path(@song) %> |
<%= link_to t('actions.destroy'), @song, confirm: t('songs.confirm_destroy'), method: :delete %>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Lyrics:</b>
  <%= simple_format @song.lyrics %>
</p>

<p>
  <b>Extra lyrics:</b>
  <%= simple_format @song.extra_lyrics %>
</p>

<p>
  <b>Introduction:</b>
  <%= @song.introduction %>
</p>

<p>
  <b>Songbook number:</b>
  <%= @song.songbook_number %>
</p>

<p>
  <b>Melody:</b>
  <%= @song.melody %>
</p>

<p>
  <b>Lyrics author:</b>
  <%= @song.lyrics_author %>
</p>

<p>
  <b>Keywords:</b>
  <%= @song.keywords %>
</p>

<%= link_to t('actions.back'), songs_path %>
