<%= form_for(@page) do |f| %>
  <%= render :partial => 'general/errors', :locals => { :model => @page } %>
  <h2><%= t('activerecord.attributes.page.page')%></h2>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <h2><%= t('activerecord.attributes.page.navigation')%></h2>
  <%= render :partial => 'nav_items/fields',
            :locals => {:form => f} %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
