<h1><%= t('pages.list') %></h1>

<table>
  <tr>
    <th><%= t('activerecord.attributes.page.title') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= link_to t('actions.show'), page %></td>
    <td><%= link_to t('actions.edit'), edit_page_path(page) %></td>
    <td><%= link_to t('actions.destroy'), page, confirm: t('pages.confirm_destroy'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('pages.new'), new_page_path %>
