<p><%= t "devise.mail.hello", :user => @resource.nickname %></p>

<p><%= t 'devise.mail.pw_change' %></p>

<p><%= link_to t('devise.mail.pw_change_link'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t 'devise.mail.pw_change_do_nothing' %></p>
<p><%= t 'devise.mail.pw_change_no_effect' %></p>
