<!DOCTYPE html>
<html>
<head>
  <title>SongArchive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% @nav_pages.each do |page| %>
  <%= link_to page.title, page %>
<% end %>

<p id="notice"><%= notice %></p>

<%= yield %>

</body>
</html>
