<!DOCTYPE html>
<html xml:lang="fi" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Sitsipakki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	<br /><br/>
<body class="nav-depth-<%=@nav.size%>">
	<div id="wrapper">
	
	
	<header>
	<div class="header">
		<ul>
			<li>
				<a href="kirjaudu.html">Kirjaudu</a>
			</li>
			<li>
				<a href="rekisteroidy.html">Rekisteröidy</a>
			</li>
		</ul>
	</div>
	
	<div class="navigation">
    <%= raw menu(@nav, @nav_item_crumb) %>
	</div>
	</header>
	
	<div id="content">
    <%= yield %>
  </div>

<footer>
</footer>


	</div>
</body>
</html>
