<!DOCTYPE html>
<html>
<head>
  <title>SongArchive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		Sitsipakki
	</header>
	<ul>
<% @nav_pages.each do |page| %>
 <li><%= link_to page.title, page %></li>
  
<% end %>
</ul>

<%= yield %>

<p>Sitsit on kivoja</p> 


</body>
<footer>
	Copyright Emppuli, Noppu ja Tuikku
</footer>
</html>
