<!DOCTYPE html>
<html xml:lang="fi" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>SongArchive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
	
	
	<header>
	<div class="header">
		<ul>
			<li>
				<a href="kirjaudu.html">Kirjaudu</a>
			</li>
			<li>
				<a href="rekisteroidy.html">Rekisteröidy</a>
			</li>
		</ul>
	</div>
	
	<div class="navigation">
		<ul>
		<% @nav.each do |item| %>
			<li>
				<%= link_to item.title, item.realpath %>
			</li>
		</ul>
		<% end %>
	</div>
	
	
	</header>
<%= yield %>


<footer>
</footer>


	</div>
</body>
</html>
